$primary-color : #55c57a;
$primary-color-light : #7ed56f;
$primary-color-dark : #28b485;
$color-secondary-light : #ffb900;
$color-secondary-dark : #ff7730;
$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5643fa;
$color-grey : #777;
$color-grey-placeholder : #999;
$color-grey-2 : #eee;
$color-light : #fff;
$color-grey-light : #f7f7f7;
$color-black : #000000;
$grid-width : 114rem;
$gutter-horizontal : 3rem;
$gutter-vertical : 3rem;
$gutter-vertical-small : 2rem; 
$default-font-size : 1.6rem;